.App {
  text-align: center;
  height: 100%;
  padding: 10px;
  min-width: 450px;
  min-height: 250px;
}

.panel-heading {
  background-color: #ededed;
  border-radius: 6px 6px 0 0;
  color: #363636;
  font-size: 1em;
  font-weight: 700;
  line-height: 0.5;
  padding: 0.75em 1em;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}
